// orange
// $primary-accent: #2C3E50
// $secondary-accent: #2980B9
// $tertiary-accent: #E74C3C
// $subdued: #889EAD
// $background-color: #ECF0F1
// $content-text: #3E454D

// blue
// $primary-accent: #BA3718
// $secondary-accent: #E35D25
// $tertiary-accent: #3F293C
// $subdued: rgba(215, 181, 188, 0.8)
// $background-color: #FAEEE5
// $content-text: #3E454D

// greyscale
$primary-accent: #3B3D3F
$secondary-accent: #2185C5
$tertiary-accent: #FF7F66
$subdued: rgba(127, 132, 145, 0.8)
$background-color: #FFF6E5
$content-text: #3E454D
