html {
  height: 100%;
}

a {
  color: $secondary-accent;
  text-decoration: none;
  &:hover {
    color: $tertiary-accent;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-accent;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: $primary-accent;
  margin-bottom: 1.25rem;
}

h2 {
  margin: 2rem 0 1rem;
  font-size: 2rem;
}

h3 {
  margin: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: 200;
}

time {
  color: $subdued;
  font-size: .8rem;
}

body {
  min-height: 100%;
  font-family: 'open_sans';
  background: url('/img/light_noise.png') $background-color;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  color: $content-text;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.page-content {
  -webkit-flex-grow: 2;
  flex-grow: 2;
}

.site-header {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.site-header, .site-footer {
  padding: 20px;
  color: $background-color;
  background: url('/img/dark_noise.png') $primary-accent;
  a {
    color: $background-color;
    &:hover {
      color: $tertiary-accent;
    }
  }
}

.site-footer {
  bottom: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .post-list {
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    a {
      display: inline-block;
      width: auto;
    }
    time {
      display: inline-block;
      margin-top: 2px;
    }
    h1 {
      font-size: 1.8rem;
      color: $background-color;
      font-weight: 600;
      text-transform: none;
      border-bottom: 1px solid $background-color;
      padding-bottom: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
  }
  path {
    fill: currentcolor;
  }
}

.social-links {
  text-align: center;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 6px;
  }
}

.profile-photo {
  display: block;
  max-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto 2rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 2rem 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: -30px;
  }
  &.podcast-player {
    padding-bottom: 0;
    padding-top: 0;
    height: auto;
    iframe {
      position: static;
      height: 200px;
    }
  }
}

.post {
  p, ul, h1, h2, h3, h4, h5, h6, .content-bounds {
    position: realtive;
    margin-left: auto;
    margin-right: auto;
  }
  &.left {
    p, ul, h1, h2, h3, h4, h5, h6 {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.post, .event {
  p, ul, .content-bounds {
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
    color: $content-text;
  }
  p {
    padding: 0 30px;
  }
  h1, h2, h3, h4, h5, h6 {
    max-width: 600px;
    padding: 0 30px;
    box-sizing: border-box;
  }
  ul {
    list-style: disc outside none;
    padding: 0 30px 0 4rem;
    margin-bottom: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $primary-accent;
  }
  hr {
    height: 1px;
    color: $secondary-accent;
    background: $secondary-accent;
    font-size: 0;
    border: 0;
    max-width: 600px;
    box-sizing: border-box;
    padding: 0 30px;
    position: relative;
    margin: 50px auto;
  }
  .header-image {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .header-include {
    margin-bottom: 20px;
  }
}

.event > h1:first-child {
  padding-top: 35px;
}

.post-header {
  padding-top: 35px;
}

.post-list {
  padding: 40px 30px;
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    font-size: 1rem;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 48px;
    padding: .5rem 0;
  }
}

.about-link {
  text-align: center;
  padding: 20px 20px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

.image {
  line-height: 0;
  img {
    max-width: 100%;
    height: auto;
  }
}

.post-content {
  padding-bottom: 30px;
}

@media only screen and (min-width: 900px) {
  $sidebar-width: 340px;
  body {
    padding: 0 0 0 $sidebar-width;
    display: block;
  }
  .site-header {
    position: fixed;
    width: $sidebar-width;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 40px;
  }
  .site-footer {
    background: transparent;
    position: fixed;
    width: $sidebar-width;
    left: 0;
    bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .social-links {
      li {
        margin: 0 4px;
      }
      svg {
        width: 28px;
        height: 28px;
      }
    }
    .post-list {
      h1 {
        font-size: 1.2rem;
      }
      a {
        width: 100%;
      }
    }
  }
  .post-list {
    padding: 40px 50px;
    li {
      list-style: none;
      margin-bottom: .5rem;
      font-size: 1rem;
      padding: 0;
      height: auto;
    }
    ul {
      padding-left: 20px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body, .site-header, .site-footer {
    background-size: 50px 50px;
  }
}
