.highlighter-rouge {
  font-family: "source_code" monospace;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #fdce93;
  table {
    margin: 20px 0;
    background-color: $primary-accent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  tbody {
    width: 100%;
  }
  tr {
    width: 100%;
    display: flex;
  }
}


td.code {
  overflow: scroll;
  pre {
    overflow: auto;
    box-sizing: border-box;
    padding: 30px 30px 30px 10px;
  }
}

td.gutter {
  width: 70px;
  min-width: 70px;
}

pre.lineno {
  background-color: #2f3132;
  padding: 30px 10px 30px 0;
}

code.highlighter-rouge {
  padding: 2px 5px;
  border-radius: 2px;
  background-color: $primary-accent;
}

.hll {
  background-color: #222;
}

.c {
  color: #7f9f7f;
}

.err {
  color: #e37170;
  background-color: #3d3535;
}

.g {
  color: #7f9f7f;
}

.k {
  color: #f0dfaf;
}

.l {
  color: #ccc;
}

.n {
  color: #dcdccc;
}

.o {
  color: #f0efd0;
}

.x {
  color: #ccc;
}

.p {
  color: #41706f;
}

.cm, .cp, .c1 {
  color: #7f9f7f;
}

.cs {
  color: #cd0000;
  font-weight: bold;
}

.gd {
  color: #cd0000;
}

.ge {
  color: #ccc;
  font-style: italic;
}

.gr {
  color: red;
}

.gh {
  color: #dcdccc;
  font-weight: bold;
}

.gi {
  color: #00cd00;
}

.go {
  color: gray;
}

.gp {
  color: #dcdccc;
  font-weight: bold;
}

.gs {
  color: #ccc;
  font-weight: bold;
}

.gu {
  color: purple;
  font-weight: bold;
}

.gt {
  color: #0040d0;
}

.kc {
  color: #dca3a3;
}

.kd {
  color: #ffff86;
}

.kn {
  color: #dfaf8f;
  font-weight: bold;
}

.kp {
  color: #cdcf99;
}

.kr {
  color: #cdcd00;
}

.kt {
  color: #00cd00;
}

.ld {
  color: #cc9393;
}

.m {
  color: #8cd0d3;
}

.s {
  color: #cc9393;
}

.na {
  color: #9ac39f;
}

.nb, .nc {
  color: #efef8f;
}

.no, .nd {
  color: #ccc;
}

.ni {
  color: #c28182;
}

.ne {
  color: #c3bf9f;
  font-weight: bold;
}

.nf {
  color: #efef8f;
}

.nl {
  color: #ccc;
}

.nn {
  color: #8fbede;
}

.nx, .py {
  color: #ccc;
}

.nt {
  color: #9ac39f;
}

.nv {
  color: #dcdccc;
}

.ow {
  color: #f0efd0;
}

.w {
  color: #ccc;
}

.mf, .mh, .mi, .mo {
  color: #8cd0d3;
}

.sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
  color: #cc9393;
}

.bp, .vc {
  color: #efef8f;
}

.vg {
  color: #dcdccc;
}

.vi {
  color: #ffffc7;
}

.il {
  color: #8cd0d3;
}
